body, html{
    min-height: 100%;
}
#logged_in {
	margin-bottom: 10px;
}

#button_grid {
	text-align: center;
	overflow: scroll;
	width:615px;
}

#menu_cat {
	height: 90%;
	text-align: center;
	overflow: scroll;
}

#order {
	min-width: 25%
}

#order_items {
	height: 60%;
	overflow: scroll;
}

.grid {
	margin: 1.5px;
	width: 90px;
	height: 50px;
}

.order_b {
	width: 110px;
	height: 40px;
	margin-bottom: 1%;
	vertical-align: center;
}

.category_b {
	width: 105px;
	height: 45px;
	margin: 2%;
}

#bottom_buttons {
	height: 150px;
	margin:1%;
}

.btm_bar {
	width: 120px;
	height: 50px;
	margin: 1%;
}

.quantity .left{
	width: 50%;
	float:left;
}

.quantity .right{
	width: 50%;
	float:right;

}

.quantity .left .btn {
	width:75px;
	height:50px;
	margin-bottom: 1%;
}

.quantity .right .btn {
	width:150px;
	height:50px;
	margin-top: 5%;
	margin-bottom: 1%;
}

#quantityModal {
	height: 500px;
}