<div class=container> 
    <h1 align="left">Psychedelicatessen</h1>
    <div class="rounded row" style="height:700px;background-color:#005491;">
        <h3 align="center" style="color:lightgrey; margin-left:40%;margin-top:10px;">Accounts</h3>
        <div class="row" style="background-color:#005491;width:95%;margin:1px">
            <div class="col rounded" style="margin-left:50px;height:500px;width:90%;background-color:white;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Admin?</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom row" style="background-color:#005491;">
            <a href="/admin_home" role="button" class="btn btn-outline-dark">Back</a>
            <a href="/modify_account" role="button" class="btn btn-outline-dark">Edit Account</a>
            <a href="/modify_account" role="button" class="btn btn-outline-dark">Add Account</a>
        </div>
    </div>    
</div>