<div class=container> 
    <h1 align="center">Psychedelicatessen</h1>
    <div class="border row" style="height:650px;">
        <div align="center" style="width:100%;"><h3>Accounts</h3></div>
        <div class="row">
            <div class="col border" style="margin-left:65px;height:500px;width:1000px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Admin?</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom row">
            <a href="/admin_home" role="button" class="btn btn-outline-dark">Back</a>
            <a href="/modify_account" role="button" class="btn btn-outline-dark">Edit Account</a>
            <a href="/modify_account" role="button" class="btn btn-outline-dark">Add Account</a>
        </div>
    </div>    
</div>