<h1 align="center">Psychedelicatessen</h1>
<div align="center" class="main">
    <p id="user" style="margin-bottom:40px;">Logged In:</p>
    <div><a href="/" role="button" class="btn btn-outline-dark">Log Out</a></div>
    <div><a href="/admin_order" role="button" class="btn btn-outline-dark">Add Menu Item</a></div>
    <div><a href="/ingredient" role="button" class="btn btn-outline-dark">Ingredients</a></div>
    <div><a href="/inventory" role="button" class="btn btn-outline-dark">Inventory</a></div>
    <div><a href="/accounts" role="button" class="btn btn-outline-dark">Accounts</a></div>
    <div><a href="#" role="button" class="btn btn-outline-dark">Reporting</a></div>
    <div><a href="#" role="button" class="btn btn-outline-dark">Discounts</a></div>
</div>