<div class="container"> 
    <h1 align="left">Psychedelicatessen</h1>
    <div class="rounded row borders" style="height:700px;background-color:white;">
        <h3 align="center" style="color:#3f3f3f; margin-left:40%;margin-top:10px;height:50px;">Menu Items</h3>
        <div class="row menuitems">
            <div class="col-md-3 borders" style="background-color:lightgrey;">
                <h3 align="center" style="color:#3f3f3f;">Categories</h3>
                <div id="categories" class="rounded" style="background-color:#f9f9f9;">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-outline-dark categoryButtons" style="margin-left:27px; margin-bottom:3px;margin-top:5px;border-radius:3px;" ng-click="selectCategory($event)" ng-repeat="x in categories" value="{{x.id}}">{{x.name}}</button>
                    </div>
                </div>
                <a href="#" role="button" style="margin-top:5px;margin-left:15px;" class="btn btn-outline-dark" data-toggle="modal" data-target="#categoryModal">New Category</a>
                <div class="modal" id="categoryModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <br>
                                Enter Category Name:  <input type="text" name="username" ng-model="categoryName"><br>
                                <br>
                                <div class="row" style="margin:10px;">
                                    <input type="submit" class="btn btn-outline-dark" value="Save" data-dismiss="modal" ng-click="addCategory()">
                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-md-1" style="background-color:white;"></div>
            <div class="col-md-8 borders menuItemGrid" style="background-color:#f9f9f9;">
                <table class="menuItemGrid">
                <tr>
                    <td><button id="row0col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row0col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row0col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row0col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row1col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row1col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row1col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row1col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row2col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row2col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row2col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row2col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row3col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row3col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row3col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row3col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row4col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row4col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row4col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row4col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row5col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row5col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row5col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row5col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row6col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row6col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row6col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row6col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
                <tr>
                    <td><button id="row7col0" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row7col1" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row7col2" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                    <td><button id="row7col3" type="button" class="btn  btn-outline-dark menuItemButton" ng-click="modifyMenuItem($event)"></button></td>
                </tr>
            </table>
                
            </div>
        </div>
        <div class="row menugohome">
            <a href="/admin_home" role="button" style="margin-top:5px;margin-left:15px;margin-bottom:1px;background-color:#ffd1d1;" class="btn btn-outline-dark">Back</a> 
        </div>
    </div>    
</div>