<h1 align="center"><a href="/admin_home" style="color: black;">Psychedelicatessen</a></h1>
<div align="center" class="main">
    <div><a href="/" role="button" class="btn btn-outline-dark btn-lg">Log Out</a></div>
    <div><a href="/admin_order" role="button" class="btn btn-outline-dark btn-lg">Menu Items</a></div>
    <div><a href="/modifier_template" role="button" class="btn btn-outline-dark btn-lg">Modifiers</a></div>
    <div><a href="/ingredient" role="button" class="btn btn-outline-dark btn-lg">Ingredients</a></div>
    <div><a href="/inventory" role="button" class="btn btn-outline-dark btn-lg">Inventory</a></div>
<!--     <div><a href="/accounts" role="button" class="btn btn-outline-dark">Accounts</a></div>
    <div><a href="#" role="button" class="btn btn-outline-dark">Reporting</a></div>
    <div><a href="#" role="button" class="btn btn-outline-dark">Discounts</a></div> -->
</div>