<h1 align="center">Psychedelicatessen</h1>
<div align="center" class="main">
    <p id="user">Logged In:</p>
    <div><a href="/" role="button" class="btn btn-outline-dark">Log Out</a></div>
    <div><a href="/edit_meal" role="button" class="btn btn-outline-dark">Add Menu Item</a></div>
    <div><a href="/modify_inventory" role="button" class="btn btn-outline-dark">Inventory</a></div>
    <!-- Inventory is linked to add/modify inventory until main Inventory page is made-->
    <div><a href="#" role="button" class="btn btn-outline-dark">Reporting</a></div>
    <div><a href="#" role="button" class="btn btn-outline-dark">Discounts</a></div>
</div>