<h1 align="center">Psychedelicatessen</h1>
<div align="center" class="main">
    <br/>
    <div>Admin Login</div>
    <br/>
    <form>
        User ID:  <input type="text" name="username"><br>
        <br/>
        Password:  <input type="text" name="password"><br>
        <br/>
        <!-- After login works <input  href="employee_home.html" type="submit" value="Submit" class="btn btn-outline-dark"> -->
        <div><a role="button" class="btn btn-outline-dark">Submit</a></div>
    </form>
</div>