<h1 align="center">Psychedelicatessen</h1>
<br>
<div id="modifierpage" class="container border">
	<div class="row">
		<div class="col-md-3">
			<p style="float:right">Meal Name:</p>
		</div>
		<div class="col-md-3">
			<input type="text" name="mname">
		</div>
		<div class="col-md-2">
			<p style="float:right">Meal Type:</p>
		</div>
		<div class="col-md-3">
			<input type="text" name="mname">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7"></div>
		<div class="col-md-3">
			<p id="ovalue">Base Price: $6.99</p>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-4"><p style="float:right">Modifiers:</p></div>
		<div id="modlist" class="col-md-5"></div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div id="catmenu" class="col-md-2">
			<table>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b mcat">foof</button></td>
				</tr>
			</table>
		</div>
		<div id="ingmenu" class="col-md-6">
			<table>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
					<td><button type="button" class="btn  btn-outline-dark category_b ming">foof</button></td>
				</tr>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-1">
			<p style="float:right">Notes:<p>
		</div>
		<div class="col-md-7"><textarea rows="2" cols="45" name="notes" form="modform"></textarea></div>
		<div class="col-md-3"></div>
	</div>
	<div class="row" style="margin:10px;">
		<div class="col-md-3"></div>
		<div class="col-md-2"><a href="/main_order" role="button" class="btn  btn-outline-dark category_b">Save</a></div>
		<div class="col-md-2"></div>
		<div class="col-md-2"><a href="/main_order" role="button" class="btn  btn-outline-dark category_b">Cancel</a></div>
		<div class="col-md-3"></div>
	</div>
</div>
