<div class=container> 
    <h1 align="left">Psychedelicatessen</h1>
    <div class="rounded row borders" style="height:700px;background-color:white;">
        <h3 align="center" style="color:#3f3f3f; margin-left:40%;margin-top:10px;">Inventory Items</h3>
        <div class="row inv">
            <div class="col-md-3 borders" style="background-color:lightgrey;">
                <h3 align="center" style="color:#3f3f3f;">Categories</h3>
                <div id="categories" class="rounded" style="background-color:#f9f9f9;">
                    <div class="btn-group-vertical btn-group-lg" align="center" ng-repeat="x in categories">
                        <div class="btn-group"> 
                            <button type="button" class="btn btn-outline-dark btn-lg categoryButtons" style="margin-left:47px; margin-bottom:8px;border-radius:3px; width: 120px; height: 70px;" ng-click="selectCategory($event)" value="{{x.id}}">{{x.name}}</button>
                            <button type="button" class="btn btn-outline-dark btn-lg" style="margin-bottom:8px;border-radius:3px; width: 70px; height: 70px;" data-whatever="edit" data-id="{{x.id}}" data-name="{{x.name}}" data-toggle="modal" data-target="#categoryModal">Edit</button>
                        </div>
                    </div>
                </div>
                <a href="#" role="button" style="margin-top:5px;margin-left:52px; width: 170px;" class="btn btn-outline-dark btn-lg" data-whatever="new" data-toggle="modal" data-target="#categoryModal">New Category</a>
                <div class="modal" id="categoryModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteLabel">New Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <br>
                                    Enter Category Name:  <input type="text" name="category" ng-model="categoryName"><br>
                                    <br>
                                    <div class="row" style="margin:10px;">
                                        <input type="submit" class="btn btn-outline-dark" value="Save" data-dismiss="modal" ng-show="newCat" ng-click="addCategory()">
                                        <input type="submit" class="btn btn-outline-dark" value="Save" data-dismiss="modal" ng-hide="newCat" ng-click="editCategory()">
                                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-md-1" style="background-color:white;">
            </div>
            <div class="col-md-8 borders" style="background-color:#f9f9f9;">
                <table class="table table-hover inv_table" style="font-size: 130%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Unit Name</th>
                            <th>Quantity On Hand</th>
                            <th>Quantity Needed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="invItem" ng-repeat="x in inventory" title="{{$index}}" ng-click="selectInvItem($event)">
                            <th scope="row">{{x.id}}</th>
                            <td>{{x.name}}</td>
                            <td>{{x.serving_size}}</td>
                            <td>{{x.quantity_on_hand}}</td>
                            <td>{{x.quantity_needed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Delete </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this item? <br> This deletes all Ingredient items associated with it.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteItem()">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom row" style="background-color:white;">
            <a href="/admin_home" role="button" class="btn btn-outline-dark btn-lg" style="background-color:#ffd1d1">Back</a>
            <!-- <a href="/modify_inventory" role="button" class="btn btn-outline-dark" ng-click="deleteCategory()">Delete Category</a> -->
            <button type="button" class="btn btn-outline-dark btn-lg" ng-disabled="!categorySelected" ng-click="addItem()">Add Item</a>
            <button type="button" class="btn btn-outline-dark btn-lg" ng-disabled='!itemSelected' ng-click="editItem()">Edit Item</a>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" ng-disabled="!itemSelected" data-target="#deleteItemModal">Delete Item</a>
            
        </div>
    </div>    
</div>