<div class=container> 
    <h1 align="center">Psychedelicatessen</h1>
    <div class="border row" style="height:650px;">
        <div class="row inv">
            <div class="col-md-3 border">
                <h3 align="center">Categories</h3>
                <div id="categories" class="border">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-outline-dark categoryButtons" style="margin-left:40px; margin-bottom:8px;border-radius:3px;"ng-click="selectCategory($event)" ng-repeat="x in categories" value="{{x.id}}">{{x.name}}</button>
                    </div>
                </div>
                <a href="#" role="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#categoryModal">New Category</a>
                <div class="modal" id="categoryModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <br>
                                Enter Category Name:  <input type="text" name="username" ng-model="categoryName"><br>
                                <br>
                                <div class="row">
                                    <input type="submit" class="btn btn-outline-dark" value="Save" data-dismiss="modal" ng-click="addCategory()">
                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-8 border">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Serving Size</th>
                            <th>Quantity On Hand</th>
                            <th>Quantity Needed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="invItem" ng-repeat="x in inventory" title="{{$index}}" ng-click="selectInvItem($event)">
                            <th scope="row">{{x.id}}</th>
                            <td>{{x.name}}</td>
                            <td>{{x.serving_size}}</td>
                            <td>{{x.quantity_on_hand}}</td>
                            <td>{{x.quantity_needed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom row">
            <a href="/admin_home" role="button" class="btn btn-outline-dark">Back</a>
            <!-- <a href="/modify_inventory" role="button" class="btn btn-outline-dark" ng-click="deleteCategory()">Delete Category</a> -->
            <a href="/modify_inventory" role="button" class="btn btn-outline-dark" ng-click="editItem()">Edit Item</a>
            <a href="/modify_inventory" role="button" class="btn btn-outline-dark" ng-click="addItem()">Add Item</a>
        </div>
    </div>    
</div>