<h1 align="center"><a href="/admin_home" style="color: black;">Psychedelicatessen</a></h1>
<br>
<div id="modifierpage" class="container border border-dark rounded" style="background-color:white;">
	<div class="row">
		<div class="col-md-2">
			<p style="float:right">Modifier Template:</p>
		</div>
		<div class="col-md-3">
			<select id="templateNames" ng-model="selectedTemplate" ng-options="template.name for template in templates track by template.id" ng-hide="creatingNewTemplate" ng-change="selectTemplate()" required></select>
			<input type="text" ng-model="newTemplateName" ng-show="creatingNewTemplate" readonly>
		</div>
		<div class="btn-group mr-2" role="group">
	    	<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#newTemplateModal">New</button>
	        <button type="button" class="btn btn-outline-dark" ng-click="saveTemplate()">Save</button>
	        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#dupeTemplateModal" ng-disabled="!templateChosen">Duplicate</button>
	        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#deleteTemplateModal" ng-disabled="!templateChosen">Delete</button>
	    </div>
	    <div class="btn-group mr-1" role="group">
	    	<a href="/admin_home" role="button" class="btn btn-outline-dark" style="background-color:#ffd1d1">Back</a>
	    </div>

		<div class="modal" id="newTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Create new template</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form>
		          <div class="form-group">
		            <label for="template_name" class="form-control-label">Template Name:</label>
		            <input type="text" class="form-control" id="template_name" ng-model="newTemplateName" required>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" ng-click="createNewTemplate()">Ok</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="dupeTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Create duplicate template</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form>
		          <div class="form-group">
		            <label for="template_name" class="form-control-label">Template Name:</label>
		            <input type="text" class="form-control" id="template_name" ng-model="newTemplateName" required>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" ng-click="createDupeTemplate()">Ok</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal" id="deleteTemplateModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Delete </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this Modifier Template?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"  ng-click="deleteTemplate()">Delete</button>
              </div>
            </div>
          </div>
        </div>


	</div>
	<div class="row" id="buttonGrid" ng-show="templateChosen || creatingNewTemplate">
		<div class="col-md-1"></div>

		<div id="modTempCategories" class="border border-dark col-md-2" style="background-color:white;">
			<h3 align="center" style="color:#3f3f3f;">Categories</h3>
            <div class="btn-group-vertical" id="modTempCats">
            	<div class="btn-group">
            		<button id="cat1" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat1" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat2" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat2" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat3" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat3" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat4" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat4" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat5" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat5" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat6" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat6" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat7" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat7" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	<div class="btn-group">
            		<button id="cat8" type="button" class="btn btn-outline-dark catButton" ng-click="selectCategory($event)"></button>
            		<button id="editcat8" type="button" class="btn btn-outline-dark catButton" data-toggle="modal" data-target="#selectCategoryModal">Edit</button>
            	</div>
            	
            </div>
        </div>
		<div id="modTempIngs" class="col-md-8" style="padding-top: 10px;">
			<table>
				<tr>
					<td><button id="row0col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row0col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row0col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row0col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row0col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row0col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row1col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row1col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row1col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row1col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row1col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row1col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row2col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row2col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row2col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row2col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row2col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row2col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row3col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row3col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row3col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row3col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row3col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row3col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row4col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row4col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row4col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row4col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row4col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row4col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row5col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row5col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row5col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row5col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row5col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row5col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row6col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row6col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row6col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row6col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row6col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row6col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
				<tr>
					<td><button id="row7col0" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row7col1" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row7col2" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row7col3" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row7col4" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
					<td><button id="row7col5" type="button" class="btn  btn-outline-dark ingButton" data-toggle="modal" data-target="#selectIngredientModal"></button></td>
				</tr>
			</table>
		</div>
		<div class="col-md-2"></div>

		<div class="modal" id="selectCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Select a category</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form>
		          <div class="form-group">
		          	<input id="whichButton" type="hidden" value="">
		            <label class="form-control-label">Category:</label>
		            <select id="categoryDropdown" ng-model="categorySelected" ng-options="category.name for category in availableCategories track by category.id" required></select>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" ng-click="modifyCategory()">Ok</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal" id="selectIngredientModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel3">Select an ingredient</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form>
		          <div class="form-group">
		          	<input id="whichIngButton" type="hidden" value="">
		            <label class="form-control-label">Ingredient:</label>
		            <select id="ingDropdown" ng-model="ingredientSelected" ng-options="ingredient.name for ingredient in availableIngredients track by ingredient.id" required></select>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" ng-click="selectIngredient()">Ok</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
