    <div class=container> 
        <h1 align="center">Psychedelicatessen</h1>
        <row>
        <div class="main border">
            <h4>Edit Account</h4>
                <form id="account_form">
                    <div class="form-group">
                        <label>ID:</label> <input type="text" name="employee_ID">
                    </div>
                    <div class="form-group">
                        <label>First Name:</label> <input type="text" name="f_name">
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label> <input type="text" name="l_name">
                    </div>
                    <div class="form-group" >
                        <label>Admin?:</label> 
                        <input type="radio" name="admin">Yes
                        <input type="radio" name="admin" checked>No
                    </div>
                    <a href="/accounts" role="button" class="btn btn-outline-dark">Save</a>
                    <a href="/accounts" role="button" class="btn btn-outline-dark">Cancel</a>  
                </form>
            </div>
        </row>
    </div>