    <div class=container> 
        <h1 align="left"><a href="/admin_home" style="color: black;">Psychedelicatessen</a></h1>
        <row>
        <div class="main borders rounded" style="background-color:#f4f4f4;">
            <h4>Modify Inventory Item</h4>
                <form id="inventory">
                    <div class="form-group">
                        <label>Item Name:</label> <input type="text" name="item_name" ng-model="inventoryName" required>
                    </div>
                    <div class="form-group">
                        <label>Category:</label> <input type="text" name="category" readonly ng-model="inventoryCategory">
                    </div>
                    <div class="form-group">
                        <label>Unit Name:</label> <input type="text" name="servingSize" ng-model="servingSize" required>
                    </div>
                    <div class="form-group">
                        <label>Quantity On Hand:</label> <input type="number" min="0.0" step="0.01" name="quantity_onhand" ng-model="quantity_onhand" required>
                    </div>
                    <div class="form-group">
                        <label>Quantity Needed:</label> <input type="number" min="0.0" step="0.01" name="quantity_onorder" ng-model="quantity_needed" required>
                    </div>
                    <a href="/inventory" role="button" class="btn btn-outline-dark" ng-click="addInventory()">Save</a>
                    <a href="/inventory" role="button" class="btn btn-outline-dark">Cancel</a>

                        <!-- Category: <select name="item_type">
                                        <option value="">Choose Type</option>
                                    </select><br><br>
                        Serving Size: <input type="text" name="servings_per_unit"><br><br>
                        Cost/Serving: <input type="text" name="cost_per_serving"><br><br><br>
                        After inventory works <input  href="inventory_main.html" type="submit" value="Submit" class="btn btn-outline-dark">
                        Quantity On Hand: <input type="text" name="quantity_onhand">
                        Quantity On Order: <input type="text" name="quantity_onorder"> -->

                   <!--  </div>
                    <div class="col right">
                    
                    Notes: <input type="text" name="notes">
                    <div></div>   -->  
                </form>
            </div>
        </row>
    </div>