.main {
	height : 550px;
	text-align: center;
	margin-top: 5vh;
}

.border {
	border-color: black;
}

.row {
	background-color: white;
}

.main .col {
	width: 45%;
}

#inventory label {
	text-align:right;
	width:150px;
	margin-bottom: 25px;
}

#inventory input {
	margin-left: 10px;
	width:300px;
}

#account_form input {
	margin-left: 10px;
	width:300px;
}

#account_form input[type=radio] {
	margin-left: 10px;
	width:20px;
}

#account_form label {
	text-align:right;
	width:150px;
	margin-bottom: 25px;
}

}

.main .left {
	float:left;
	text-align: right;
}

.main .right {
	float:right;
	text-align: right;
	margin-right:100px;
}

#categories {
	height: 70%;
	overflow: scroll;
}

input {
	width:50%;
}

select {
	width:50%;
}

#inventory {
	margin-top: 20px;
	height: 400px;
}

.main .left .btn {
	width:120px;
	margin-right:10px;
	height: 40px;
}

.main .right .btn {
	width:120px;
	margin-top:10px;
	margin-right:200px;
	height: 40px;
}

.inv {
	margin-left:2.5%;
	margin-right:2.5%;
	margin-top:10px;
	height:500px; 
	width:95%;
}

.inv .btn {
	width:150px;
	height: 50px;
	margin-top:20px;
	margin-left:40px;
	align:center;
}

.bottom .btn {
	width:150px;
	height: 50px;
	margin-top:20px;
	margin-left:40px;
}

.row .bottom {
	margin-left: 100px;
}

