.ingButton {
	width: 130px;
	height: 65px;
	margin: 2%;
	white-space: normal;
}

.catButton {
	width: 130px !important;
	height: 65px;
	white-space: normal;
	display: inline-block;
}

#modTempCats {
	width: 100%;
}